
@{
    int Take = 0;
    int Total = 0;
    int Primer = 0;
    int Ultimo = 0;
    int Index = 0;

    if (ViewBag.Services != null)
    {
        Take = ViewBag.Services.Take;
        Index = ViewBag.Services.Index;
        Total = ViewBag.Services.TotalRecords;
        Primer = ((Index - 1) * Take) + 1;
        Ultimo = Primer + (ViewBag.Services.List.Count - 1);

        Primer = Primer < 0 ? 0 : Primer;
        Ultimo = Ultimo < 0 ? 0 : Ultimo;
    }
    else
    {
        Take = 0;
    }
}

<style>
    .pendRevisar{
        font-size:0.8rem;
    }
    .ant-badge-status-dot {
        width: 6px;
        height: 6px;
        display: inline-block;
        border-radius: 50%;
        vertical-align: middle;
        position: relative;
        top: -1px;
    }
    .text1, .text2, .text3 {
        font-size: 0.7em;
    }
    .text1 {
        color: #808080;
    }
    .text2 {
        color: #ff0000;
    }
    .text3 {
        color: #308705;
    }
    .ant-badge-status-ocupational {
        background-color: #ff0000;
    }

    .ant-badge-status-assistence {
        background-color: #808080;
        padding-right: 5px;
    }

    .ant-badge-status-control {
        background-color: #308705;
        padding-right: 5px;
    }
</style>

<div class="container-fluid" style="padding:0px;">
    <div class="box box-default mt-2" id="acordion">
        <div class="box-header with-border" id="heading1">
            <h3 class="box-title" style="cursor:pointer;" onclick="ColapseTable('Table','heightTable')"><i class="icon-list-numbered"></i> Listado de Pacientes </h3>
        </div>
    </div>
</div>
<input id="heightTable" type="hidden" value="">
<div id="Table" style="overflow:hidden">
    <div>
        <span class="informacion mr-md-5">Mostrando desde N° @Primer hasta @Ultimo de un total de @Total entradas</span>
        @{
            var contador = 0;
            if (ViewBag.PendingReview == null)
            {
                contador = 0;
            }
            else if (ViewBag.PendingReview.List.Count == 0)
            {
                contador = 0;
            }
            else
            {
                contador = ViewBag.PendingReview.List.Count;
            }

        <span class="pendRevisar">Pendientes por revisar: <span class="text-white bg-danger px-1">@contador</span></span>
        }
        <div class="float-lg-right informacion">
            Total de registros:
            <select id="take" onchange="Filter(1)">
                <option value="10" @(Take == 10 ? "selected" : "")>10</option>
                <option value="25" @(Take == 25 ? "selected" : "")>25</option>
                <option value="50" @(Take == 50 ? "selected" : "")>50</option>
                <option value="0" @(Take == 0 ? "selected" : "")>TODOS</option>
            </select>
        </div>
    </div>
    <div class="box box-info mt-2">
        <div class="table-responsive">
            <table class="table table-hover table" id="TablaAExportar" style="text-align:center">
                <thead>
                    <tr>
                        <th>Paciente</th>
                        <th>Empresa-Sede</th>
                        <th>Protocolo</th>
                        <th>Puesto</th>
                        <th>Fch.Atención</th>
                        <th>Ges</th>
                        <th>Género</th>
                        <th>Servicio</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (ViewBag.Services == null)
                        {
                            <tr><td colspan="7" class="text-center">Error al conectarse al servidor</td></tr>
                        }
                        else if (ViewBag.Services.List.Count == 0)
                        {
                            <tr><td colspan="7" class="text-center">No hay resultados</td></tr>
                        }
                        else
                        {
                            foreach (var item in ViewBag.Services.List)
                            {
                                if (item.MasterServiceId == 2 && item.IsRevisedHistoryId != 1)
                                {
                            <tr class="context-menu-one">
                                <td style="display:none">@item.ServiceId</td>
                                <td style="display:none">@item.PatientId</td>
                                <td class="ColumnNoWrap"> <span class="ant-badge ant-badge-status ant-badge-not-a-wrapper"> <a href="#" data-toggle="modal" data-target="#modalOption">   <span class="ant-badge-status-dot ant-badge-status-ocupational"></span>    </a>   <span class="ant-badge-status-text pl-2">@item.PatientFullName</span></span></td>
                                <td class="ColumnNoWrap">@item.OrganizationLocation</td>
                                <td class="ColumnNoWrap">@item.ProtocolName</td>
                                <td class="ColumnNoWrap">@item.Occupation</td>
                                <td class="ColumnNoWrap">@item.ServiceDate.ToShortDateString()</td>
                                <td class="ColumnNoWrap">@item.Geso</td>
                                <td class="ColumnNoWrap">@item.Gender</td>
                                <td class="ColumnNoWrap">@item.MasterService</td>
                            </tr>
                                }
                                else if (item.MasterServiceId == 21)
                                {
                            <tr class="context-menu-two">
                                <td style="display:none">@item.ServiceId</td>
                                <td style="display:none">@item.PatientId</td>
                                <td class="ColumnNoWrap"> <span class="ant-badge ant-badge-status ant-badge-not-a-wrapper"><span class="ant-badge-status-dot ant-badge-status-control"></span><span class="ant-badge-status-text pl-2">@item.PatientFullName</span></span></td>
                                <td class="ColumnNoWrap">@item.OrganizationLocation</td>
                                <td class="ColumnNoWrap">@item.ProtocolName</td>
                                <td class="ColumnNoWrap">@item.Occupation</td>
                                <td class="ColumnNoWrap">@item.ServiceDate.ToShortDateString()</td>
                                <td class="ColumnNoWrap">@item.Geso</td>
                                <td class="ColumnNoWrap">@item.Gender</td>
                                <td class="ColumnNoWrap">@item.MasterService</td>
                            </tr>
                                }
                                else
                                {
                            <tr>
                                <td style="display:none">@item.ServiceId</td>
                                <td style="display:none">@item.PatientId</td>
                                <td class="ColumnNoWrap"> <span class="ant-badge ant-badge-status ant-badge-not-a-wrapper"><span class="ant-badge-status-dot ant-badge-status-assistence"></span><span class="ant-badge-status-text pl-2">@item.PatientFullName</span></span></td>
                                <td class="ColumnNoWrap">@item.OrganizationLocation</td>
                                <td class="ColumnNoWrap">@item.ProtocolName</td>
                                <td class="ColumnNoWrap">@item.Occupation</td>
                                <td class="ColumnNoWrap">@item.ServiceDate.ToShortDateString()</td>
                                <td class="ColumnNoWrap">@item.Geso</td>
                                <td class="ColumnNoWrap">@item.Gender</td>
                                <td class="ColumnNoWrap">@item.MasterService</td>
                            </tr>
                                }
                            }
                        }
                    }
                </tbody>
            </table>
            <div class="paginacion-tabla d-flex justify-content-center">
                <div class="col-7 col-md-4 d-flex justify-content-center align-items-center">
                    <span class="ant-badge-status-dot ant-badge-status-assistence"></span>
                    <label class="m-0 pl-1 mr-3 text1">RR.HH</label>
                    <span class="ant-badge-status-dot ant-badge-status-ocupational"></span>
                    <label class="m-0 pl-1 mr-3 text2">EMO</label>
                    <span class="ant-badge-status-dot ant-badge-status-control"></span>
                    <label class="m-0 pl-1 mr-3 text3">Control</label>
                </div>               
                <div class="col-5 col-md-8">
                    <ul class="pagination">
                        @{
                            if (Index > 1)
                            {
                                <li class="page-item" onclick="Filter(@(Index - 1))">
                                    <span class="page-link" aria-hidden="true">Anterior</span>
                                </li>
                            }
                            int pagina = 0;
                            if (Take > 0)
                            {
                                for (int i = 0; i < Total; i = i + Take)
                                {
                                    pagina++;
                                    if ((pagina > (Index - 5)) && pagina < (Index + 5))
                                    {
                                        <li @(pagina == Index ? "class=pagination-active" : "onclick=Filter(" + pagina + ")")><span class="page-link" aria-hidden="true">@pagina</span></li>
                                    }

                                }
                            }
                            if (pagina > Index)
                            {
                                <li class="page-item" onclick="Filter(@(Index + 1))">
                                    <span class="page-link" aria-hidden="true">Siguiente</span>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal-->
<div class="modal fade" id="modalOption">
    <div class="modal-dialog d-flex justify-content-center align-items-center">
        <div class="modal-content">
           
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/Alert.js"></script>
<script src="~/Scripts/TweenMax.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="~/Content/css/fontello.css" rel="stylesheet" type="text/css" />
<link href="~/Content/css/Alert.css" rel="stylesheet" type="text/css" />

