
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/pdfobject.min.js"></script>


 
<div class="col-12">
    <div class="row w-100 p-0 m-0">
        <div class="col-12 mb-2 ml-0 mr-0 p-0 p-lg-1 col-lg-4">
            <div class="row titleRow p-0 m-0">
                <div class="col-12 p-0 m-0" onclick="ColapseTable('DivNotices','heightDivNotices')">
                    <div class="ml-2">
                        Antecedentes
                    </div>
                </div>
            </div>
            <div class="row bodyRow p-0 m-0">
                <div id="DivNotices" class="col-12 View p-0 m-0">
                    <table class="table tableNotice table-bordered table-sm">
                        <thead>
                            <tr class="text-center">
                                <th scope="col">Descripción</th>
                                <th scope="col">Tipo de atención</th>
                                <th scope="col">Fecha/Grupo</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ 
                                var item = ViewBag.Antecedent;
                                if (item == null)
                                {
                                    <tr><td colspan="7" class="text-center">Error al conectarse al servidor</td></tr>

                                }
                                else if (item.Count == 0)
                                {
                                    <tr><td colspan="7" class="text-center">No hay resultados</td></tr>
                                }
                                else
                                {
                                    for (int i = 0; i < item.Count; i++)
                                    {
                                    <tr>
                                        <td>@item[i].v_DiseasesName</td>
                                        <td>@item[i].v_AntecedentTypeName</td>
                                        <td>@item[i].v_DateOrGroup</td>
                                    </tr>
                                    }

                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 mb-2 ml-0 mr-0 p-0 p-lg-1 col-lg-4">
            <div class="row titleRow p-0 m-0">
                <div class="col-12 p-0 m-0" onclick="ColapseTable('DivNotices','heightDivNotices')">
                    <div class="ml-2">
                        Atenciones Médicas
                    </div>
                </div>
            </div>
            <div class="row bodyRow p-0 m-0">
                <div id="DivNotices" class="col-12 View p-0 m-0">
                    <table class="table tableNotice table-bordered table-sm">
                        <thead>
                            <tr class="text-center">
                                <th scope="col">Aptitud</th>
                                <th scope="col">Fecha/Servicio</th>
                                <th scope="col">Diagnóstico</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ 
                                var item1 = ViewBag.Reviews;
                                if (item1 == null)
                                {
                                    <tr><td colspan="7" class="text-center">Error al conectarse al servidor</td></tr>

                                }
                                else if (item1.Count == 0)
                                {
                                    <tr><td colspan="7" class="text-center">No hay resultados</td></tr>
                                }
                                else
                                {
                                    
                                    for (int i = 0; i < item1.Count; i++)
                                    {
                                        if (item1[i].MasterServiceId == 2)
                                        {
                                    <tr>
                                        <td>@item1[i].Aptitude</td>
                                        <td>@item1[i].ServiceDate.ToShortDateString()</td>
                                        <td>@item1[i].DiseaseName</td>
                                    </tr>
                                        }                                        
                                    }                                  
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 mb-2 ml-0 mr-0 p-0 p-lg-1 col-lg-4">
            <div class="row titleRow p-0 m-0">
                <div class="col-12 p-0 m-0" onclick="ColapseTable('DivNotices','heightDivNotices')">
                    <div class="ml-2">
                        Atenciones Médicas
                    </div>
                </div>
            </div>
            <div class="row p-0 bodyRow m-0">
                <div id="DivNotices" class="col-12 View p-0 m-0">
                    <table class="table tableNotice table-bordered table-sm">
                        <thead>
                            <tr class="text-center">
                                <th scope="col">Aptitud</th>
                                <th scope="col">Fecha/Servicio</th>
                                <th scope="col">Diagnóstico</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            @{ 
                                var item2 = ViewBag.Reviews;
                                if (item2 == null)
                                {
                                    <tr><td colspan="7" class="text-center">Error al conectarse al servidor</td></tr>

                                }
                                else if (item2.Count == 0)
                                {
                                    <tr><td colspan="7" class="text-center">No hay resultados</td></tr>
                                }
                                else
                                {
                                    for (int i = 0; i < item2.Count; i++)
                                    {
                                        
                                        if (item2[i].MasterServiceId == 21)
                                        {
                                    <tr>
                                        <td>@item2[i].Aptitude</td>
                                        <td>@item2[i].ServiceDate.ToShortDateString()</td>
                                        <td>@item2[i].DiseaseName</td>
                                    </tr>
                                        }
                                    }
                          
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-0 p-0">
        <div class="col-12 w-100 m-0 p-0">
            <div id="viewpdf" style="width:100%; height:600px"></div>
        </div>
    </div>
</div>

<script>
    var viewer = $('#viewpdf');
    PDFObject.embed('Temp/sample.pdf', viewer);
    $("window, html").resize(function () {
        $(document).ready();
    });

</script>
