<style>

    .pagination-active span {
        color: #f39c12 !important;
    }

    #filtPaciente {
        opacity: 0;
    }

    .iconEdit {
        color: Black;
    }

    .ColumnNoWrap {
        overflow: hidden;
        white-space: nowrap;
    }

    .modal-content {
        width: 600px !important;
        margin: 30px auto !important;
    }

    .modal-dialog {
        margin: 0px auto;
        height: 100%;
        max-width: 1000px;
    }

    .modal-content {
        width: auto;
    }
</style>
<link href="~/Content/fullcalendar.css" rel="stylesheet" />
<link href="~/Content/css/FullCalendar-custom.css" rel="stylesheet" />
<div class="container-fluid">
    <section class="contenedor-main  row">
        <button type="button" class="btnModalReview btn p-0 m-0 absolute-center" id="btnModalReviewEMO" data-toggle="modal" data-target="#modalReviewEMO"></button>
        <main class="colMain col-12 col-md-8 mr-0 pr-0">
            <div class="box box-default mt-2" id="acordion">
                <div class="box-header with-border" id="heading1">
                    <h3 class="box-title" style="cursor:pointer;" onclick="ColapseTable('divFilter','heightFilter')"><i class="icon-calendar"></i> Banjeda de Pacientes</h3>
                </div>
                <input id="heightFilter" type="hidden" value="">
                <div id="divFilter" style="overflow:hidden;">
                    <div class="box-body" aria-labelledby="heading1">
                        <div class="row">
                            <div class="col-12 col-lg-3 col-xl-3">
                                <div class="form-group">
                                    <label for="">Paciente / DNI</label>
                                    <input type="text" id="PacientFullName" class="form-control" maxlength="150" placeholder="Ingrese nombre del paciente" />
                                </div>
                            </div>

                            <div class="col-12 col-lg-3 col-xl-3">
                                <div class="form-group">
                                    <label for="">Desde: </label>
                                    <input type="date" id="StartDate" class="form-control" />
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 col-xl-3">
                                <div class="form-group">
                                    <label for="">Hasta:</label>
                                    <input type="date" id="EndDate" class="form-control" />
                                </div>
                            </div>

                            <div class="col-12 col-lg-3 col-xl-2">
                                <div class="form-group">
                                    <label for="" id="filtPaciente" class="d-none d-lg-block">Filtrar</label>
                                    <button class="btn btn-info boton form-control" onclick="Filter(1)">
                                        <i class="fa fa-search"></i> Filtrar
                                    </button>
                                </div>
                            </div>
                        </div>
                        @*<div class="row">
                            <div class="col-12 col-lg-3 col-xl-2">
                                <div class="form-group">
                                    <label for="" id="filtPaciente" class="d-none d-lg-block">Filtrar</label>
                                    <button class="btn btn-info boton form-control" onclick="Test(1)">
                                        <i class="fa fa-search"></i> Test
                                    </button>
                                </div>
                            </div>
                            <div id="Valuetest" style="background:#f39c12; width:20px; height:20px;">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-3 col-xl-2">
                                <div class="form-group">
                                    <label for="" id="filtPaciente" class="d-none d-lg-block">Filtrar</label>
                                    <button class="btn btn-info boton form-control" onclick="Test2(1)">
                                        <i class="fa fa-search"></i> Test2
                                    </button>
                                </div>
                            </div>
                            <div id="Valuetest2" style="background:#f39c12; width:20px; height:20px;">

                            </div>
                        </div>*@
                    </div>
                </div>


            </div>
            <div id="RenderBoardPatientsAssistancePartial" class="wrapperGrid loadingGrid">
                @Html.Partial("_BoardPatientsAssistancePartial")
            </div>
            <div class="row" style=" margin-left: 0px; margin-right: 0px;">
                <div class="box box-warning mt-2 col-12" id="acordion" style=" padding-left: 0px; padding-right: 0px;">
                    <div class="box-header with-border" id="heading1" onclick="ColapseTable('DivCalendar','heightCalendar')">
                        <h3 class="box-title" style="cursor:pointer;">Agenda de Citas </h3>
                    </div>
                    <input id="heightCalendar" type="hidden" value="">
                    <div id="DivCalendar" style="overflow:hidden;">
                        <div class="box-body collapse show" aria-labelledby="heading1">
                            <div class="row">
                                <div class="col-12">
                                    <div id="calendar" class="calendar-custom mt-2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <aside class="col-12 col-md-4 colAside" style="padding-right: 0px;">
            <div class="row notice" style="margin-right:0px;">
                <div class="col-12 Chart wrapperTopDx loadingGrid">
                    <div class="row title " onclick="ColapseTable('divTopDx','heightdivTopDx')">
                        Top 10 Diagnósticos
                        <div class="d-none col-auto p-0 mr-2"><button class="iconoPin p-0 m-0 " value="onPin"><i class="fa fa-thumbtack"></i></button></div>
                    </div>
                    <input id="heightdivTopDx" type="hidden" value="">
                    <div id="divTopDx" style="overflow:hidden">
                        <div class="row info" id="RenderTopDiagnostic">
                            <a href="#" class="table-responsive" data-toggle="modal" data-target="#modal1" onclick="ModalTopDiagnosticPartial()">@Html.Partial("_TopDiagnosticPartial")</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 Chart wrapperMonthlyControls loadingGrid">
                    <div class="row title" onclick="ColapseTable('divMonthlyControls','heightDivMonthlyControls')">
                        Controles Mensuales
                    </div>
                    <input id="heightDivMonthlyControls" type="hidden" value="">
                    <div id="divMonthlyControls" style="overflow:hidden">
                        <div class="row info" id="RenderHeightdivMonthlyControls">
                            <a href="#" class="table-responsive" data-toggle="modal" data-target="#modal2" onclick="ModalMonthlyControls()">@Html.Partial("_MonthlyControlsPartial")</a>
                        </div>
                    </div>

                </div>
                <div class="col-12 Chart">
                    <div class="row title" onclick="ColapseTable('DivNotices','heightDivNotices')">
                        Avisos Diarios
                    </div>
                    <input id="heightDivNotices" type="hidden" value="">
                    <div id="DivNotices" style="overflow:hidden">
                        <div class="row info ">
                            <div class="col-10">
                                Completar datos de empresa:
                            </div>
                            <div class="col-2">
                                <span class="label label-warning result">10</span>
                            </div>
                        </div>
                        <div class="row info">
                            <div class="col-10">
                                Empresas con  deudas:
                            </div>
                            <div class="col-2">
                                <span class="label label-danger result">02</span>
                            </div>
                        </div>
                        <div class="row info">
                            <div class="col-10 ">
                                Controles para el día de hoy:
                            </div>
                            <div class="col-2">
                                <span class="label label-success result">10</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </section>


    <!--Modal-->
    <div class="modal fade" id="modal1">
        <div class="modal-dialog d-flex justify-content-center align-items-center">
            <div class="modal-content">
                @Html.Partial("_ModalTopDiagnosticPartial")
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal2">
        <div class="modal-dialog d-flex justify-content-center align-items-center">
            <div class="modal-content">
                @Html.Partial("_ModalMonthlyControlsPartial")
            </div>
        </div>
    </div>

    
    <div class="modal fade" id="modalReviewEMO">
        <div class="modal-dialog d-flex justify-content-center align-items-center">
            <div class="modal-content">
                @Html.Partial("_ReviewEMOPartial")
            </div>
        </div>
    </div>

</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>

@section Scripts{
    @{
        if (Request.Browser.Browser == "IE" && Convert.ToDouble(Request.Browser.Version) < 9.0)
        {
            <script>

            </script>
        }
        else
        {
            <script src="~/Scripts/highcharts.js"></script>
            <script src="~/Scripts/highcharts-3d.js"></script>
            <script src="~/Scripts/exporting.js"></script>
            <script src="~/Scripts/offline-exporting.js"></script>
            <script src="~/Scripts/controlPin.js"></script>
            <link href="~/Content/css/highcharts.css" rel="stylesheet">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

        }
    }
}


<script>

    $(document).ready(function () {
        LoadSchedule();
        LoadTopDiagnostic();
        MonthlyControls();
        $("#take").val(10);
        Filter(1);

        $.contextMenu({
            selector: '.context-menu-one',
            trigger: 'left',
            callback: function (key, options) {
                var m = "clicked: " + key;
                
                if (key === "RevisarEMO") {
                    $('tr.context-menu-active').each(function () {
                        var serviceId = $(this).find('td').eq(0).text();
                        //alert($(this).find('td').eq(0).text());
                        //LoadReviewEMO(serviceId);
                        if (m === "clicked: " + "RevisarEMO") {
                            $('#btnModalReviewEMO').click();
                        }
                    });
                }
                else if (key === "ConsultaMedica") {
                    $('tr.context-menu-active').each(function () {
                        alert($(this).find('td').eq(0).text());
                    });
                }
            },
            items: {
                "RevisarEMO": { name: "Revisar EMO", icon: "icon-edit" },
                "ConsultaMedica": { name: "Consulta Médica", icon: "icon-users" },
                "sep1": "---------",
                "Salir": { name: "Salir" }
            }
        });

        $.contextMenu({
            selector: '.context-menu-two',
            trigger: 'left',
            callback: function (key, options) {
                if (key === "ConsultaMedica") {
                    $('tr.context-menu-active').each(function () {
                        alert($(this).find('td').eq(0).text());
                    });
                }
            },
            items: {
                "ConsultaMedica": { name: "Consulta Médica", icon: "icon-users" },
                "sep1": "---------",
                "Salir": { name: "Salir" }
            }
        });

    });

    function ModalTopDiagnosticPartial() {
        LoadModalTopDiagnostic();
    }

    function ModalMonthlyControls() {
        LoadModalMonthlyControls();
    }


    function LoadReviewEMO(serviceId) {
        var data = {
            ServiceId: serviceId          
        };
        $.ajax({
            cache: false,
            dataType: 'html',
            method: 'POST',
            async: true,
            data: data,
            url: '/PatientsAssistance/ReviewEMO',
            success: function (html) {
                if (html.indexOf("IniciarSesion") == -1) {       
                    $('#modalReviewEMO').modal();
                    //$("#RenderBoardPatientsAssistancePartial").html(html);
                } else {
                    location.href = "/";
                }
            },
            error: function (error) {
                alerta("Sucedió un error al conectarse al servidor", "rojo");              
                console.log(error);
            }
        });
    }


    function LoadTopDiagnostic() {
        $('.wrapperTopDx').addClass('loadingGrid');
        $.ajax({
            cache: false,
            dataType: 'html',
            method: 'GET',
            async: true,
            url: '/PatientsAssistance/TopDiagnostic',
            success: function (html) {
                if (html.indexOf("IniciarSesion") == -1) {
                    $('.wrapperTopDx').removeClass('loadingGrid');
                    Load(html);
                } else {
                    location.href = "/";
                }
            },
            error: function (error) {
                alerta("Sucedió un error al conectarse al servidor", "rojo");
                $('.wrapperTopDx').removeClass('loadingGrid');
                console.log(error);
            }
        });
    }

    function LoadModalTopDiagnostic() {
        $.ajax({
            cache: false,
            dataType: 'html',
            method: 'GET',
            async: true,
            url: '/PatientsAssistance/TopDiagnostic',
            success: function (html) {
                if (html.indexOf("IniciarSesion") == -1) {
                    LoadModalTop(html);
                } else {
                    location.href = "/";
                }
            },
            error: function (error) {
                alerta("Sucedió un error al conectarse al servidor", "rojo");
                console.log(error);
            }
        });
    }




    function MonthlyControls() {
        $('.wrapperMonthlyControls').addClass('loadingGrid');
        $.ajax({
            cache: false,
            dataType: 'html',
            method: 'GET',
            async: true,
            url: '/PatientsAssistance/MonthlyControls',
            success: function (html) {
                if (html.indexOf("IniciarSesion") == -1) {
                    $('.wrapperMonthlyControls').removeClass('loadingGrid');
                    LoadMonContr(html);
                } else {
                    location.href = "/";
                }
            },
            error: function (error) {
                alerta("Sucedió un error al conectarse al servidor", "rojo");
                $('.wrapperMonthlyControls').removeClass('loadingGrid');
                console.log(error);
            }
        });
    }

    function LoadModalMonthlyControls() {
        $.ajax({
            cache: false,
            dataType: 'html',
            method: 'GET',
            async: true,
            url: '/PatientsAssistance/MonthlyControls',
            success: function (html) {
                if (html.indexOf("IniciarSesion") == -1) {
                    LoadModalMonContr(html);
                } else {
                    location.href = "/";
                }
            },
            error: function (error) {
                alerta("Sucedió un error al conectarse al servidor", "rojo");
                console.log(error);
            }
        });
    }

    function LoadSchedule() {
        var events = [];
        $.ajax({
            type: "GET",
            async: true,
            url: "/PatientsAssistance/GetSchedule",
            success: function (data) {
                $.each(data, function (i, v) {
                    events.push({
                        title: v.Pacient,
                        description: v.EsoType,
                        start: moment(v.ServiceDate),
                        end: v.FechaFin != null ? moment(v.ServiceDate).add(1, "day") : null,
                        color: v.Color,
                        allDay: true
                    })
                });
                GenerateCalender(events);
            },
            error: function (error) {
                alert('Failed');
            }

        });
    }

    function GenerateCalender(events) {
        $('#calendar').fullCalendar('destroy');
        $('#calendar').fullCalendar({
            lang: 'es',
            contentHeight: 600,
            defaultDate: new Date(),
            timeFormat: 'h(:mm)a',
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,basicWeek,basicDay,agenda'
            },
            eventLimit: true,
            eventColor: '#378006',
            events: events,
            //eventClick: function (calEvent, jsEvent, view) {
            //    $('#tabInformacion').removeClass("active");
            //    $('#tabImportante').removeClass("active");
            //    $('#tabRegistro').addClass("active");

            //    $('#b').removeClass("active");
            //    $('#c').removeClass("active");
            //    $('#a').addClass("active");

            //    $('#ModalInscripcion #eventTitle').text("Inscribir al Curso de: " + calEvent.title);
            //    $('#CursoProgramadoId').val(calEvent.description);
            //    $('#ModalInscripcion').modal();
            //    loadSalon();
            //}
        });
    }

    function Filter(index) {
        $('.wrapperGrid').addClass('loadingGrid');
        var data = {
            Patient: $("#PacientFullName").val(),
            StartDate: moment($("#StartDate").val()).format("DD/MM/YYYY"),
            EndDate: moment($("#EndDate").val()).format("DD/MM/YYYY"),
            Index: index,
            Take: $("#take").val()
        };
        $.ajax({
            cache: false,
            dataType: 'html',
            method: 'POST',
            async: true,
            data: data,
            url: '/PatientsAssistance/FilterPacient',
            success: function (html) {
                if (html.indexOf("IniciarSesion") == -1) {
                    $('.wrapperGrid').removeClass('loadingGrid');
                    $("#RenderBoardPatientsAssistancePartial").html(html);
                } else {
                    location.href = "/";
                }
            },
            error: function (error) {
                alerta("Sucedió un error al conectarse al servidor", "rojo");
                $('.wrapperGrid').removeClass('loadingGrid');
                console.log(error);
            }
        });
    }

    function Test() {
        console.log("hola soy solamanente test ");
        $.ajax({
            cache: false,
            async: true,
            dataType: 'html',
            method: 'GET',
            url: '/PatientsAssistance/Test',
            success: function (html) {
                console.log(html)
                if (html.indexOf("IniciarSesion") == -1) {
                    $("#Valuetest").html(html);
                } else {
                    location.href = "/";
                }
            },
            error: function (error) {
                alerta("Sucedió un error al conectarse al servidor", "rojo");
                console.log(error);
            }
        });
    }

    function Test2() {
        console.log("hola soy test 2");
        $.ajax({
            cache: false,
            async: true,
            dataType: 'html',
            method: 'GET',
            url: '/PatientsAssistance/Test2',
            success: function (html) {
                console.log(html)
                if (html.indexOf("IniciarSesion") == -1) {
                    $("#Valuetest2").html(html);
                } else {
                    location.href = "/";
                }
            },
            error: function (error) {
                alerta("Sucedió un error al conectarse al servidor", "rojo");
                console.log(error);
            }
        });
    }

</script>
