<style>
    
    .pagination-active span {
        color: #f39c12 !important;
    }

    #filtPaciente {
        opacity: 0;
    }
    a{
        outline: none;
    }
    .iconEdit {
        color: Black;
    }
    span .fa-file-pdf{
        font-size: 15px;
        color: red;

    }
    span .fa-file-download {
        font-size: 15px;
        color: forestgreen;
    }
    span .fa-check-circle {
        font-size: 15px;
        color: dodgerblue;
        cursor: default;
    }
    span .fa-eye {
        font-size: 15px;
        color: fuchsia;
    }
    span .fa-eye:hover {
        color: hotpink;
    }
    .modal-header {
        height: 20px !important;
    }
    span .fa-file-download:hover {
        font-size: 15px;
        color: darkgreen;
    }
    span .fa-file-pdf:hover {
        color: darkred;
    }
    .ColumnNoWrap {
        overflow: hidden;
        white-space: nowrap;
    }

    .bodyRow{
        overflow: hidden;
    }
    .modal-dialog {
        margin: 0px auto;
        max-width: 100%;
    }

    .View {
        width: 100%;
        max-height: 150px;
        margin: 10px;
        border: 1px rgba(173, 173,173, 0.1) inset;
        overflow-y: scroll;
        overflow-x: scroll;
    }
        .View::-webkit-scrollbar {
            max-width: 7px;
            max-height: 7px;
        }

        .View::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background-color: #dddddd;
            border: 1px solid #c9c9c9;
        }
    .titleRow {
        font-family: sans-serif;
        background-color: #fff;
        border: 2px solid rgba(173, 173,173, 0.1);
        color: #3c3c3b;
        text-align: left;
        font-weight: 500;
        background-color: #fcfcfc;
    }

    .bodyRow {
        height: 150px;
    }
    
    .View .info {
        color: #3c3c3b;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;        
        padding-left: 0px;
        margin: 1px;
        border-bottom: 1px rgba(173, 173,173, 0.5) inset;
        text-align: left;
    }
    #DivNotices {
        border-bottom-left-radius: 8px;
        border: 2px solid rgba(173, 173,173, 0.1);
    }
        .View .info div {
            padding-left: 0px;
        }

        .View .info .result {
            margin-left: 10px;
        }

        .View .info a {
            text-decoration: dotted;
        }

    .View div:last-child {
        border-bottom: none;
    }
    .leyenda{
        left:0.01rem;
        position: sticky;
    }

</style>
<link href="~/Content/fullcalendar.css" rel="stylesheet" />
<link href="~/Content/css/FullCalendar-custom.css" rel="stylesheet" />
<div class="container-fluid">
    <section class="contenedor-main  row">
        <button type="button" class="d-none btnModalReview btn p-0 m-0" id="btnModalReviewEMO" data-toggle="modal" data-target="#modalReviewEMO"></button>
        <main class="colMain col-12 col-md-8 mr-0 pr-0">
            <div class="box box-default mt-2" id="acordion">
                <div class="box-header with-border" id="heading1">
                    <h3 class="box-title" style="cursor:pointer;" onclick="ColapseTable('divFilter','heightFilter')"><i class="icon-calendar"></i> Banjeda de Pacientes</h3>
                </div>
                <input id="heightFilter" type="hidden" value="">
                <div id="divFilter" style="overflow:hidden;">
                    <div class="box-body" aria-labelledby="heading1">
                        <div class="row">
                            <div class="col-12 col-lg-3 col-xl-3">
                                <div class="form-group">
                                    <label for="">Paciente / DNI</label>
                                    <input type="text" id="PacientFullName" class="form-control" maxlength="150" placeholder="Ingrese nombre del paciente" />
                                </div>
                            </div>

                            @*<div class="col-12 col-lg-3 col-xl-3">
                                <div class="form-group">
                                    <label for="">Desde: </label>
                                    <input type="date" id="StartDate" class="form-control" />
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 col-xl-3">
                                <div class="form-group">
                                    <label for="">Hasta:</label>
                                    <input type="date" id="EndDate" class="form-control" />
                                </div>
                            </div>*@

                            <div class="col-12 col-lg-4 col-xl-4">
                                <div class="form-group">
                                    <label for="">Estado del Trabajador</label>
                                    <div class="row pt-0 pb-0" style="padding-left:10px; padding-right:10px">
                                        <div class="col-12 col-md-4 ">
                                            <label class="xxxx radButton">
                                                Todos
                                                <input type="radio" checked="checked" name="radio" id="rbtodos" >
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <label class="xxxx radButton">
                                                Activo
                                                <input type="radio" name="radio" id="rbActivo" >
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <label class="xxxx radButton">
                                                Inactivo
                                                <input type="radio" name="radio" id="rbInactivo" >
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                             

                            <div class="col-12 col-lg-3 col-xl-2">
                                <div class="form-group">
                                    <label for="" id="filtPaciente" class="d-none d-lg-block">Filtrar</label>
                                    <button class="btn btn-info boton form-control" onclick="Filter(1)">
                                        <i class="fa fa-search"></i> Filtrar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div id="RenderBoardPatientsAssistancePartial" class="wrapperGrid loadingGrid">
                @Html.Partial("_BoardPatientsAssistancePartial")
            </div>
            <div class="row" style=" margin-left: 0px; margin-right: 0px;">
                <div class="box box-warning mt-2 col-12" id="acordion" style=" padding-left: 0px; padding-right: 0px;">
                    <div class="box-header with-border" id="heading1" onclick="ColapseTable('DivCalendar','heightCalendar')">
                        <h3 class="box-title" style="cursor:pointer;">Agenda de Citas </h3>
                    </div>
                    <input id="heightCalendar" type="hidden" value="">
                    <div id="DivCalendar" style="overflow:hidden;">
                        <div class="box-body collapse show" aria-labelledby="heading1">
                            <div class="row">
                                <div class="col-12">
                                    <div id="calendar" class="calendar-custom mt-2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <aside class="col-12 col-md-4 colAside" style="padding-right: 0px;">
            <div class="row notice" style="margin-right:0px;">
                <div class="col-12 Chart">
                    <div class="row title" onclick="ColapseTable('DivNotices','heightDivNotices')">
                        Avisos Diarios
                    </div>
                    <input id="heightDivNotices" type="hidden" value="">
                    <div id="DivNoticesHoy" style="overflow:hidden">
                        <div class="row info">
                            <div class="col-10 ">
                                Controles para el día de hoy:
                            </div>
                            <div class="col-2">
                                <span class="label label-success result">10</span>
                            </div>
                        </div>
                        <div class="row info ">
                            <div class="col-10">
                                Completar datos de empresa:
                            </div>
                            <div class="col-2">
                                <span class="label label-warning result">10</span>
                            </div>
                        </div>
                        <a class="provDeudas">
                            <div class="row info">
                                <div class="col-10">
                                    Empresas con  deudas:
                                </div>
                                <div class="col-2">
                                    <span class="label label-danger result">02</span>
                                </div>
                            </div>
                        </a>                       
                    </div>
                </div>
                <div class="col-12 Chart wrapperTopDx loadingGrid">
                    <div class="row title " onclick="ColapseTable('divTopDx','heightdivTopDx')">
                        Top 10 Diagnósticos
                    </div>
                    <input id="heightdivTopDx" type="hidden" value="">
                    <div id="divTopDx" style="overflow:hidden">
                        <div class="row info" id="RenderTopDiagnostic">
                            <a href="#" class="table-responsive" data-toggle="modal" data-target="#modal1" onclick="LoadModalTopDiagnostic()">@Html.Partial("_TopDiagnosticPartial")</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 Chart wrapperMonthlyControls loadingGrid">
                    <div class="row title " onclick="ColapseTable('divMonthlyCompliance','heightdivMontlhyCompliance')">
                        Cumplimiento mensual:
                        <label class="pl-1 lblDate" style="cursor: pointer"></label>
                    </div>
                    <input id="heightdivMontlhyCompliance" type="hidden" value="">
                    <div id="divMonthlyCompliance" style="overflow:hidden">
                        <div class="row info" id="RenderMonthlyCompliance">
                            <a href="#" class="table-responsive" data-toggle="modal" data-target="#modal3" onclick="LoadModalMonthlyCompliance()">@Html.Partial("_MonthlyCompliancePartial")</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 Chart wrapperMonthlyControls loadingGrid">
                    <div class="row title" onclick="ColapseTable('divMonthlyControls','heightDivMonthlyControls')">
                        Cumplimiento de controles mensuales
                    </div>
                    <input id="heightDivMonthlyControls" type="hidden" value="">
                    <div id="divMonthlyControls" style="overflow:hidden">
                        <div class="row info" id="RenderHeightdivMonthlyControls">
                            <a href="#" class="table-responsive" data-toggle="modal" data-target="#modal2" onclick="LoadModalMonthlyControls()">@Html.Partial("_MonthlyControlsPartial")</a>
                        </div>
                    </div>

                </div>

            </div>

        </aside>
    </section>


    <!--Modal-->
    <div class="modal fade p-0 modalFade" id="modal1">
        <div class="modal-dialog d-flex justify-content-center align-items-center modal-dialog-centered">
            <div class="modal-content modalContent">
                <div class="modal-header pb-4">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @Html.Partial("_ModalTopDiagnosticPartial")
            </div>
        </div>
    </div>

    <div class="modal fade p-0 modalFade" id="modal2">
        <div class="modal-dialog d-flex justify-content-center align-items-center modal-dialog-centered">
            <div class="modal-content modalContent">
                <div class="modal-header pb-4">
                    <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @Html.Partial("_ModalMonthlyControlsPartial")
            </div>
        </div>
    </div>
    <div class="modal fade p-0 modalFade" id="modal3">
        <div class="modal-dialog d-flex justify-content-center align-items-center modal-dialog-centered">
            <div class="modal-content modalContent">
                <div class="modal-header pb-4">
                    <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @Html.Partial("_ModalMonthlyCompliancePartial")
            </div>
        </div>
    </div>

    <div class="modal fade p-0 modalFade" id="modalReviewEMO">
        <div class="modal-dialog d-flex justify-content-center align-items-center modal-dialog-centered">
            <div class="modal-content modalContent">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="RenderReviewEMO">
                    @Html.Partial("_ReviewEMOPartial")
                </div>
            </div>
        </div>
    </div>


</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>
@*<script src="~/Scripts/fullcalendar.js"></script>*@
@*<script src="~/Scripts/fullcalendar.min.js"></script>*@
<link href="~/Content/css/modal.css" rel="stylesheet" />
@section Scripts{
    @{
        if (Request.Browser.Browser == "IE" && Convert.ToDouble(Request.Browser.Version) < 9.0)
        {
            <script>

            </script>
        }
        else
        {
            <script src="https://code.highcharts.com/highcharts.js"></script>
            <script src="~/Scripts/highcharts-3d.js"></script>
            <script src="~/Scripts/exporting.js"></script>
            <script src="~/Scripts/offline-exporting.js"></script>
            <link href="~/Content/css/highcharts.css" rel="stylesheet">

        }
    }
}         

    <script>   

    var month = new Array("Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Setiembre", "Octubre", "Noviembre", "Diciembre")
    var date = new Date();
    console.log(month[date.getMonth()]);
    $(".lblDate").text(month[date.getMonth()]);

    $(document).ready(function () {
        LoadSchedule();
        LoadTopDiagnostic();
        MonthlyControls();
        $("#take").val(10);
        Filter(1); 
        
        $(".provDeudas").attr("href", "/Organization/Proveedores");
        $.contextMenu({
            selector: '.context-menu-one',
            trigger: 'left',


            callback: function (key, options) {
                if (key === "RevisarEMO") {
                    $('tr.context-menu-active').each(function () {
                        var patientId = $(this).find('td').eq(1).text();
                        $('#btnModalReviewEMO').click();
                        LoadAntecedent(patientId);
                        LoadGraphPatients(patientId)


                    });
                }
                else if (key === "ConsultaMedica") {
                    $('tr.context-menu-active').each(function () {
                        var personId = $(this).find('td').eq(1).text();
                        console.log("AMC", personId)
                        LoadMedicalConsultation(personId)
                    });
                }
            },
            items: {
                "RevisarEMO": { name: "Revisar ESO"},
                "ConsultaMedica": { name: "Consulta Médica" },
                "sep1": "---------",
                "Salir": { name: "Salir" }
            }
        });

        $.contextMenu({
            selector: '.context-menu-two',
            trigger: 'left',
            callback: function (key, options) {
                if (key === "ConsultaMedica") {
                    $('tr.context-menu-active').each(function () {
                        alert($(this).find('td').eq(0).text());
                    });
                }
            },
            items: {
                "ConsultaMedica": { name: "Consulta Médica"},
                "sep1": "---------",
                "Salir": { name: "Salir" }
            }
        });

    });

    function LoadAntecedent(patientId) {
        $.ajax({
            url: '/PatientsAssistance/GetAntecedent?patientId=' + patientId,
            type: 'GET',
            success: function (html) {
                if (html.indexOf("IniciarSesion") == -1) {
                    $("#RenderReviewEMO").html(html);
                } else {
                    location.href = "/";
                }
            },
            error: function (error) {
                alerta("Sucedió un error al conectarse al servidor", "rojo");
                console.log(error);
            }
        });
    }

    function LoadGraphPatients(personId) {
        $.ajax({
            url: '/PatientsAssistance/GetAntecedent?patientId=' + personId,
            type: 'GET',
        });
    }
    function LoadMedicalConsultation(personId) {

        var url = '/PatientsAssistance/MedicalConsultation?id=' + personId;
        var anchorElement = document.createElement("a");
        anchorElement.style = "display: none";
        anchorElement.href = url;
        document.body.appendChild(anchorElement);
        anchorElement.click();
        document.body.removeChild(anchorElement);
        $("#Loading").hide();
    }

    function LoadTopDiagnostic() {
        $('.wrapperTopDx').addClass('loadingGrid');
        $.ajax({
            cache: false,
            dataType: 'html',
            method: 'GET',
            async: true,
            url: '/PatientsAssistance/TopDiagnostic',
            success: function (html) {
                if (html.indexOf("IniciarSesion") == -1) {
                    $('.wrapperTopDx').removeClass('loadingGrid');
                    Load(html);
                } else {
                    location.href = "/";
                }
            },
            error: function (error) {
                alerta("Sucedió un error al conectarse al servidor", "rojo");
                $('.wrapperTopDx').removeClass('loadingGrid');
                console.log(error);
            }
        });
    }

    function LoadModalTopDiagnostic() {
        $.ajax({
            cache: false,
            dataType: 'html',
            method: 'GET',
            async: true,
            url: '/PatientsAssistance/TopDiagnostic',
            success: function (html) {
                if (html.indexOf("IniciarSesion") == -1) {
                    LoadModalTop(html);
                } else {
                    location.href = "/";
                }
            },
            error: function (error) {
                alerta("Sucedió un error al conectarse al servidor", "rojo");
                console.log(error);
            }
        });
    }

    function MonthlyControls() {
        $('.wrapperMonthlyControls').addClass('loadingGrid');
        $.ajax({
            cache: false,
            dataType: 'html',
            method: 'GET',
            async: true,
            url: '/PatientsAssistance/MonthlyControls',
            success: function (html) {
                if (html.indexOf("IniciarSesion") == -1) {
                    $('.wrapperMonthlyControls').removeClass('loadingGrid');
                    LoadMonContr(html);
                    LoadMonthlyCompliance(html);
                } else {
                    location.href = "/";
                }
            },
            error: function (error) {
                alerta("Sucedió un error al conectarse al servidor", "rojo");
                $('.wrapperMonthlyControls').removeClass('loadingGrid');
                console.log(error);
            }
        });
    }

    function LoadModalMonthlyControls() {
        $.ajax({
            cache: false,
            dataType: 'html',
            method: 'GET',
            async: true,
            url: '/PatientsAssistance/MonthlyControls',
            success: function (html) {
                if (html.indexOf("IniciarSesion") == -1) {
                    LoadModalMonContr(html);
                } else {
                    location.href = "/";
                }
            },
            error: function (error) {
                alerta("Sucedió un error al conectarse al servidor", "rojo");
                console.log(error);
            }
        });
    }

    function LoadModalMonthlyCompliance() {
        $.ajax({
            cache: false,
            dataType: 'html',
            method: 'GET',
            async: true,
            url: '/PatientsAssistance/MonthlyControls',
            success: function (html) {
                if (html.indexOf("IniciarSesion") == -1) {
                    ModalMonthlyCompliance(html);
                } else {
                    location.href = "/";
                }
            },
            error: function (error) {
                alerta("Sucedió un error al conectarse al servidor", "rojo");
                console.log(error);
            }
        });
    }
    function LoadSchedule() {
        var events = [];
        $.ajax({
            type: "GET",
            async: true,
            url: "/PatientsAssistance/GetSchedule",
            success: function (data) {
                $.each(data, function (i, v) {
                    events.push({
                        title: v.Pacient,
                        description: v.EsoType,
                        start: moment(v.ServiceDate),
                        end: v.FechaFin != null ? moment(v.ServiceDate).add(1, "day") : null,
                        color: v.Color,
                        allDay: true
                    })
                });
                GenerateCalender(events);
            },
            error: function (error) {
                alert('Failed');
            }

        });
    }  

    function GenerateCalender(events) {
        $('#calendar').fullCalendar('destroy');
        $('#calendar').fullCalendar({
            lang: 'es',
            contentHeight: 600,
            defaultDate: new Date(),
            timeFormat: 'h(:mm)a',
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,basicWeek,basicDay,agenda'
            },
            eventLimit: true,
            eventColor: '#378006',
            events: events,
            //eventClick: function (calEvent, jsEvent, view) {
            //    $('#tabInformacion').removeClass("active");
            //    $('#tabImportante').removeClass("active");
            //    $('#tabRegistro').addClass("active");

            //    $('#b').removeClass("active");
            //    $('#c').removeClass("active");
            //    $('#a').addClass("active");

            //    $('#ModalInscripcion #eventTitle').text("Inscribir al Curso de: " + calEvent.title);
            //    $('#CursoProgramadoId').val(calEvent.description);
            //    $('#ModalInscripcion').modal();
            //    loadSalon();
            //}
        });
    }

    function Filter(index) {
        $('.wrapperGrid').addClass('loadingGrid');

        var workerstatus = -1;

        if (rbtodos.checked) {
            workerstatus = -1;
        } else if (rbActivo.checked) {
            workerstatus = 0;
        } else {
            workerstatus = 1;
        }

        console.log("valor ", workerstatus);

        //console.log("todos", rbtodos.checked);
        //console.log("Activo",rbActivo.checked);
        //console.log("Inactivo",rbInactivo.checked);


        var data = {
            Patient: $("#PacientFullName").val(),
            Workerstatus: workerstatus,
            //StartDate: moment($("#StartDate").val()).format("DD/MM/YYYY"),
            //EndDate: moment($("#EndDate").val()).format("DD/MM/YYYY"),
            Index: index,
            Take: $("#take").val()
        };
        $.ajax({
            cache: false,
            dataType: 'html',
            method: 'POST',
            async: true,
            data: data,
            url: '/PatientsAssistance/FilterPacient',
            success: function (html) {
                if (html.indexOf("IniciarSesion") == -1) {
                    $('.wrapperGrid').removeClass('loadingGrid');
                    $("#RenderBoardPatientsAssistancePartial").html(html);
                } else {
                    location.href = "/";
                }
            },
            error: function (error) {
                alerta("Sucedió un error al conectarse al servidor", "rojo");
                $('.wrapperGrid').removeClass('loadingGrid');
                console.log(error);
            }
        });
    }

    function Test() {
        console.log("hola soy solamanente test ");
        $.ajax({
            cache: false,
            async: true,
            dataType: 'html',
            method: 'GET',
            url: '/PatientsAssistance/Test',
            success: function (html) {
                console.log(html)
                if (html.indexOf("IniciarSesion") == -1) {
                    $("#Valuetest").html(html);
                } else {
                    location.href = "/";
                }
            },
            error: function (error) {
                alerta("Sucedió un error al conectarse al servidor", "rojo");
                console.log(error);
            }
        });
    }

    function Test2() {
        console.log("hola soy test 2");
        $.ajax({
            cache: false,
            async: true,
            dataType: 'html',
            method: 'GET',
            url: '/PatientsAssistance/Test2',
            success: function (html) {
                console.log(html)
                if (html.indexOf("IniciarSesion") == -1) {
                    $("#Valuetest2").html(html);
                } else {
                    location.href = "/";
                }
            },
            error: function (error) {
                alerta("Sucedió un error al conectarse al servidor", "rojo");
                console.log(error);
            }
        });
    }

    function DownloadPdf(patientId) {
        data = {
            patientId: patientId
        };

        $.ajax({
            cache: false,
            method: 'POST',
            data: data,
            url: '/PatientsAssistance/DownloadFile',
            success: function (response) {
                var base64 = JSON.parse(response);
                var binaryString = window.atob(base64._buffer);
                var binaryLen = binaryString.length;
                var bytes = new Uint8Array(binaryLen);
                for (var i = 0; i < binaryLen; i++) {
                    var ascii = binaryString.charCodeAt(i);
                    bytes[i] = ascii;
                }
                var d = new Date();
                var fileName = patientId + ".pdf";
                var blob = new Blob([bytes], { type: 'application/pdf' });

                if (window.navigator.msSaveOrOpenBlob) {
                    window.navigator.msSaveOrOpenBlob(blob, fileName);
                } else if (window.navigator.userAgent.indexOf("Firefox") > 0) {

                    var url = window.URL.createObjectURL(blob);
                    var anchorElement = document.createElement("a");
                    anchorElement.style = "display: none";
                    anchorElement.href = url;
                    anchorElement.download = fileName;
                    document.body.appendChild(anchorElement);
                    anchorElement.click();
                    document.body.removeChild(anchorElement);

                    setTimeout(function () {
                        window.URL.revokeObjectURL(url);
                    }, 1000);
                } else {
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = fileName;
                    link.click();
                }
            },
            error: function (error) {
                console.log(error);
            }
        })
    }

    function RevisedStatusEMO(serviceId, iterador) {
    var width = $(window).width();
    var height = $(window).height();
    $.notificacion({
        classTitleAndButtons: "warningTitleAndButtons",
        classMessage: "warningMessage",
        title: "¡ Aviso !",
        icono: "",
        contenido: "¿Seguro de marcar como revisado? ",
        btnAceptar: "Aceptar",
        btnCancelar: "Cancelar",
        btnOk: "OK",
        mostrarBtnAceptarAndCancelar: "",
        mostrarBtnOk: "no",
    })

        $(".bigBox-Aceptar").on("click", function () {
            var status = true;
            $(".pluginContenedor").remove();
            $("#Loading").show().css("width", width + "px").css("height", height + "px");
            $("#Loading > img").css("margin-left", ((width - 200) / 2) + "px").css("margin-top", ((height - 266) / 2) + "px");
            $.ajax({
                cache: false,
                dataType: 'json',
                method: 'POST',
                url: '/PatientsAssistance/RevisedStatusEMO?serviceId=' + serviceId + '&status=' + status,
                success: function (json) {
                    $("#Loading").hide();
                    $(".row-" + iterador).removeClass("fas fa-eye").addClass("far fa-check-circle");             
                    console.log(iterador);
                    if (json) { 
                    } else {
                        $.notificacion({
                            classTitleAndButtons: "infoTitleAndButtons",
                            classMessage: "infoMessage",
                            title: "Error",
                            icono: "",
                            contenido: "No se pudo grabar",
                            btnAceptar: "Aceptar",
                            btnCancelar: "Cancelar",
                            btnOk: "OK",
                            mostrarBtnAceptarAndCancelar: "no",
                            mostrarBtnOk: "",
                        })
                        //alerta("No se pudo eliminar el proveedor", "rojo");
                    }
                },
                error: function (error) {
                    //alerta("Sucedió un error al conectarse al servidor", "rojo");
                    $.notificacion({
                        classTitleAndButtons: "infoTitleAndButtons",
                        classMessage: "infoMessage",
                        title: "Error",
                        icono: "",
                        contenido: "Sucedió un error al conectarse al servidor",
                        btnAceptar: "Aceptar",
                        btnCancelar: "Cancelar",
                        btnOk: "OK",
                        mostrarBtnAceptarAndCancelar: "no",
                        mostrarBtnOk: "",
                    })
                    $("#Loading").hide();
                    console.log(error);
                }
            })
        })


    }
</script>
