<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<style>
    .fa-medkit{
        color: green;
        font-size: 20px;
    }
    .tableActive::-webkit-scrollbar {
        max-width: 7px;
        max-height: 7px;
    }

    .tableActive::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #dddddd;
    }
    .tblScroll::-webkit-scrollbar {
        max-width: 7px;
        max-height: 7px;
    }

    .tblScroll::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #dddddd;
    }
    .contTablePrin::-webkit-scrollbar {
        max-width: 7px;
        max-height: 7px;
    }

    .contTablePrin::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #dddddd;
    }
    .tableNoActive {
        height: 0 !important;
        width: 0 !important;
        overflow: hidden;
        /*transition: all ease 1s;*/
    }
    .tableActive {
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        transition: all ease 1s;
    }
    .contForm {
        border: 1px rgba(173, 173,173, 0.3) solid;
    }
    .titleLabel {
        background-color: lightskyblue;
        font-size: 0.9rem;
        font-family: 'Roboto', sans-serif;
    }
    .lblTipo {
        font-size: 0.9rem;
        font-family: 'Roboto', sans-serif;
    }
    .lblDX {
        position: absolute;
        z-index: 100;
        margin-top: -25px;
        background: #fff;
        font-size: 0.9rem;
        font-family: 'Roboto', sans-serif;
    }
</style>
<div class="container-fluid">
    <section class="contenedor-main  row">
        <main class="col-md-8">
            <div class="box box-info mb-1" id="acordion">
                <div class="box-header with-border" id="heading1">
                    <h3 class="box-title" style="cursor:pointer;" onclick="ColapseTable('TableSummary','heightBoardMedicalSummaryPartial')"><i class="icon-calendar"></i>Resumen EMO</h3>
                </div>
            </div>
            <input id="heightBoardMedicalSummaryPartial" type="hidden" value="">
            <div id="RenderBoardMedicalSummaryPartial">
                @Html.Partial("_BoardMedicalSummaryPartial")
            </div>
            <div class="box box-info mb-1" id="acordion">
                <div class="box-header with-border" id="heading1">
                    <h3 class="box-title" style="cursor:pointer;" onclick="ColapseTable('DivDataPacient','heightDivDataPacient')"><i class="icon-calendar"></i>Datos del Paciente</h3>
                </div>
            </div>
            <input id="heightDivDataPacient" type="hidden" value="">
            <div class="table-responsive " id="DivDataPacient">
                <div class="row" style="margin:0px; padding:0px;">
                    <div class="col-12">
                        <form action="/">
                            <div class="form-group row">
                                <div class="col-12 col-md-4">
                                    <input type="text" class="form-control inputLabelFloat" placeholder="" name="pacient" id="pacient" />
                                    <label for="nombre" class="has-float-label">Paciente</label>
                                </div>
                                <div class="col-12 col-md-4">
                                    <input type="text" class="form-control inputLabelFloat" placeholder="" name="pass" id="pass" />
                                    <label for="nombre" class="has-float-label">Empresa/Sede/Área</label>
                                </div>
                                <div class="col-12 col-md-4">
                                    <input type="text" class="form-control inputLabelFloat" placeholder="" name="pacient" id="pacient" />
                                    <label for="nombre" class="has-float-label">Puesto</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="box box-info mb-1" id="acordion">
                <div class="box-header with-border" id="heading1">
                    <h3 class="box-title" style="cursor:pointer;" onclick="ColapseTable('DivMedicalConsultation','heightDivMedicalConsultation')"><i class="icon-calendar"></i>Consulta Médica</h3>
                </div>
            </div>
            <input id="heightDivMedicalConsultation" type="hidden" value="">
            <div class="table-responsive " id="DivMedicalConsultation">
                <div class="row" style="margin:0px; padding:0px;">
                    <div class="col-12 p-0">
                        <form action="/" class="formGroup">
                            <div class="form-group row w-100 mx-0">
                                <div class="col-12 col-md-2">
                                    <input type="text" class="form-control inputLabelFloat" placeholder="" name="pacient" id="pacient" />
                                    <label for="nombre" class="has-float-label">Peso</label>
                                </div>
                                <div class="col-12 col-md-2">
                                    <input type="text" class="form-control inputLabelFloat" placeholder="" name="pass" id="pass" />
                                    <label for="nombre" class="has-float-label">Talla</label>
                                </div>
                                <div class="col-12 col-md-2">
                                    <input type="text" class="form-control inputLabelFloat" placeholder="" name="pacient" id="pacient" />
                                    <label for="nombre" class="has-float-label">IMC</label>
                                </div>
                                <div class="col-12 col-md-2">
                                    <input type="text" class="form-control inputLabelFloat" placeholder="" name="pacient" id="pacient" />
                                    <label for="nombre" class="has-float-label">P. Abdom.</label>
                                </div>
                                <div class="col-12 col-md-2">
                                    <input type="text" class="form-control inputLabelFloat" placeholder="" name="pass" id="pass" />
                                    <label for="nombre" class="has-float-label">P. Cad.</label>
                                </div>
                                <div class="col-12 col-md-2">
                                    <input type="text" class="form-control inputLabelFloat" placeholder="" name="pacient" id="pacient" />
                                    <label for="nombre" class="has-float-label">I. C.</label>
                                </div>
                            </div>
                            <div class="form-group row formGroup w-100 mx-0">
                                <div class="col-12 col-md-2">
                                    <input type="text" class="form-control inputLabelFloat" placeholder="" name="pacient" id="pacient" />
                                    <label for="nombre" class="has-float-label">PS-PD</label>
                                </div>
                                <div class="col-12 col-md-2">
                                    <input type="text" class="form-control inputLabelFloat" placeholder="" name="pacient" id="pacient" />
                                    <label for="nombre" class="has-float-label">F. Respi.</label>
                                </div>
                                <div class="col-12 col-md-2">
                                    <input type="text" class="form-control inputLabelFloat" placeholder="" name="pacient" id="pacient" />
                                    <label for="nombre" class="has-float-label">F. Cardi.</label>
                                </div>
                                <div class="col-12 col-md-2">
                                    <input type="text" class="form-control inputLabelFloat" placeholder="" name="pacient" id="pacient" />
                                    <label for="nombre" class="has-float-label">PSD</label>
                                </div>
                                <div class="col-12 col-md-2">
                                    <input type="text" class="form-control inputLabelFloat" placeholder="" name="pacient" id="pacient" />
                                    <label for="nombre" class="has-float-label">Sat. O.</label>
                                </div>
                            </div>
                            <div class="form-group row" style="margin-left:0px; margin-right:0px;">
                                <div class="col-12 mt-3" style="border: 1px rgba(173, 173,173, 0.3) solid;">
                                    <label for="nombre" class="labelMotivo">Motivo de Consulta</label>
                                    <div class="row pt-0 pb-0" style="padding-left:10px; padding-right:10px">
                                        <div class="col-12 col-md-4 ">
                                            <label class="xxxx radButton">
                                                Ambulatoria
                                                <input type="radio" checked="checked" name="radio">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <label class="xxxx radButton">
                                                Urgencia
                                                <input type="radio" name="radio">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <label class="xxxx radButton">
                                                Emergencia
                                                <input type="radio" name="radio">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </form>
                        <form action="/" method="post" class="formGroup">
                            <div class="form-group row" style="margin-left:0px; margin-right:0px;">
                                <div class="col-12 mt-3" style="border: 1px rgba(173, 173,173, 0.3) solid;">
                                    <label for="" class="labelMotivo">Nuevo/Control</label>
                                    <div class="row pt-0 pb-0" style="padding-left:10px; padding-right:10px">
                                        <div class="col-12 col-md-4 ">
                                            <label class="xxxx radButton">
                                                Nuevo
                                                <input type="radio" checked="checked" name="radio">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <label class="xxxx radButton">
                                                Control
                                                <input type="radio" name="radio">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="anamnesis" style="font-size: 0.9rem;font-family: 'Roboto', sans-serif;">Anamnesis</label>
                                <textarea class="form-control" id="anamnesis"></textarea>
                            </div>

                            <div class="py-3 px-2 contForm">
                                <div class="row w-100 mx-0">
                                    <label class="ml-2 lblDX">DX y Tratamiento</label>
                                    <div class="col-12">
                                        <table class="table contTablePrin m-0 table-bordered table-responsive-sm">
                                            <thead>
                                                <tr class="text-center">
                                                    <th scope="col">CIE10</th>
                                                    <th scope="col">Descripción</th>
                                                    <th scope="col">Calificación</th>
                                                    <th scope="col">TX</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>888</td>
                                                    <td class="ColumnNoWrap">Cancer pulmonar.</td>
                                                    <td class="ColumnNoWrap">Enfermedad común.</td>
                                                    <td class="ColumnNoWrap text-center"><span onclick="TableActive()" class="contIcon"><i class="fas fa-medkit"></i></span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div> 
                                    <div class="col-12 p-1">
                                        <div class="row justify-content-end w-100 p-0 mx-0">
                                            <div class="col-11 p-0">
                                                <div class="tableNoActive tblcontrol mt-2">
                                                    <table class="table tblScroll mb-0 table-bordered table-responsive-sm">
                                                        <thead>
                                                            <tr class="text-center">
                                                                <th scope="col">Medicamento</th>
                                                                <th scope="col">Cantidad</th>
                                                                <th scope="col">Frecuencia</th>
                                                                <th scope="col">Consideraciones</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>AAA</td>
                                                                <td class="ColumnNoWrap">10 und</td>
                                                                <td class="ColumnNoWrap">1 diaria</td>
                                                                <td class="ColumnNoWrap text-center">-----</td>
                                                            </tr>
                                                            <tr>
                                                                <td>BBB</td>
                                                                <td class="ColumnNoWrap">20 und</td>
                                                                <td class="ColumnNoWrap">1 semanal</td>
                                                                <td class="ColumnNoWrap text-center">-----</td>
                                                            </tr>
                                                            <tr>
                                                                <td>CCC</td>
                                                                <td class="ColumnNoWrap">30 und</td>
                                                                <td class="ColumnNoWrap">2 diaria</td>
                                                                <td class="ColumnNoWrap text-center">-----</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-end p-0 mx-0">
                                    <div class="col-12 mt-3 col-md-6 d-flex justify-content-end">
                                        <button class="btn btn-info btnHeight">Nuevo DX</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row w-100 px-0 mx-0">
                                <div class="col-12 py-2 px-0 col-lg-4">
                                    <div class="p-2 contForm">
                                        <div class="row titleLabel w-100 m-0 mb-2 p-1 justify-content-center">
                                                En caso de accidentes de trabajo
                                        </div>
                                        <div class="row w-100 m-0">
                                            <div class="col-12 p-0">
                                                <div class="row w-100 m-0">
                                                    <div class="col-12 col-xl-5 p-0 d-flex justify-content-start align-items-center">
                                                        <label class="m-0 lblTipo">Mec. Acc. Trab</label>
                                                    </div>
                                                    <div class="col-12 col-xl-7 p-0">
                                                        <select class="custom-select custom-select-sm">
                                                            <option value="value" selected>---Selecciones---</option>
                                                            <option value="value"></option>
                                                            <option value="value"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row my-2 w-100 mx-0">
                                                    <div class="col-12 col-xl-5 p-0 d-flex justify-content-start align-items-center">
                                                        <label class="m-0 lblTipo">Parte del cuerpo</label>
                                                    </div>
                                                    <div class="col-12 p-0 col-xl-7">
                                                        <select class="custom-select custom-select-sm">
                                                            <option value="value" selected>---Selecciones---</option>
                                                            <option value="value"></option>
                                                            <option value="value"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row w-100 m-0">
                                                    <div class="col-12 col-xl-5 p-0 d-flex justify-content-start align-items-center">
                                                        <label class="m-0 lblTipo">Clasificación</label>
                                                    </div>
                                                    <div class="col-12 col-xl-7 p-0">
                                                        <select class="custom-select custom-select-sm">
                                                            <option value="value" selected>---Selecciones---</option>
                                                            <option value="value"></option>
                                                            <option value="value"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 py-2 px-0 p-md-2 col-lg-4">
                                    <div class="p-2 contForm">
                                        <div class="row titleLabel w-100 m-0 mb-2 p-1 justify-content-center">
                                            En caso de enfermedades relacionadas al trabajo
                                        </div>
                                        <div class="row w-100 m-0">
                                            <div class="col-12 p-0">
                                                <div class="row w-100 m-0">
                                                    <div class="col-12 col-xl-5 p-0 d-flex justify-content-start align-items-center">
                                                        <label class="m-0 lblTipo">Fact. de riesgo</label>
                                                    </div>
                                                    <div class="col-12 col-xl-7 p-0">
                                                        <select class="custom-select custom-select-sm">
                                                            <option value="value" selected>---Selecciones---</option>
                                                            <option value="value"></option>
                                                            <option value="value"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row my-2 w-100 m-0">
                                                    <div class="col-12 col-xl-5 p-0 d-flex justify-content-start align-items-center">
                                                        <label class="m-0 lblTipo">Clasificación</label>
                                                    </div>
                                                    <div class="col-12 col-xl-7 p-0">
                                                        <select class="custom-select custom-select-sm">
                                                            <option value="value" selected>---Selecciones---</option>
                                                            <option value="value"></option>
                                                            <option value="value"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 py-2 px-0 col-lg-4 p-0">
                                    <div class="p-2 contForm">
                                        <div class="row titleLabel w-100 m-0 mb-2 p-1 justify-content-center">
                                                En caso de exámen ocupacional
                                        </div>
                                        <div class="row w-100 m-0">
                                            <div class="col-12 p-0">
                                                <div class="row w-100 m-0">
                                                    <div class="col-12 col-xl-5 p-0 d-flex justify-content-start align-items-center">
                                                        <label class="m-0 lblTipo">Aptitud</label>
                                                    </div>
                                                    <div class="col-12 p-0 col-xl-7">
                                                        <select class="custom-select custom-select-sm">
                                                            <option value="value" selected>---Selecciones---</option>
                                                            <option value="value"></option>
                                                            <option value="value"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row w-100 my-2 m-0">
                                                    <div class="col-12 col-xl-5 p-0 d-flex justify-content-start align-items-center">
                                                        <label class="m-0 lblTipo">Observaciones</label>
                                                    </div>
                                                    <div class="col-12 p-0 col-xl-7">
                                                        <div class="">
                                                            <textarea class="form-control" id="anamnesis" rows="3"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </main>
        <aside class="col-md-4 w-100">
            <div class="row notice ">
                <div class="col-12 Chart mr-0">
                    <div class="row title" onclick="ColapseTable('DivTopDx','heightDivTopDx')">
                        Indicadores
                    </div>
                    <input id="heightDivTopDx" type="hidden" value="">
                    <div id="DivTopDx" style="overflow:hidden">
                        <div class="row info">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="weight-tab" data-toggle="tab" role="tab" aria-controls="Weight" aria-selected="true" onclick="NavTabActive()" href="#Weight">IMC</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="Haemoglobin-tab" data-toggle="tab" role="tab" aria-controls="Haemoglobin" aria-selected="true" onclick="NavTabActive()" href="#Haemoglobin">Hemoglobina</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="Cholesterol-tab" data-toggle="tab" role="tab" aria-controls="Cholesterol" aria-selected="true" onclick="NavTabActive()" href="#Cholesterol">Colesterol</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="BloodPressure-tab" data-toggle="tab" role="tab" aria-controls="BloodPressure" aria-selected="true" onclick="NavTabActive()" href="#BloodPressure">Presión</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="Glucose-tab" data-toggle="tab" role="tab" aria-controls="Glucose" aria-selected="true" onclick="NavTabActive()" href="#Glucose">Glucosa</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent" style="width:100%">
                                <div class="tab-pane fade show active" id="Weight" role="tabpanel" aria-labelledby="home-tab">@Html.Partial("_WeightPartial")</div>
                                <div class="tab-pane fade" id="Haemoglobin" role="tabpanel" aria-labelledby="profile-tab">@Html.Partial("_HaemoglobinPartial")</div>
                                <div class="tab-pane fade" id="Cholesterol" role="tabpanel" aria-labelledby="contact-tab">@Html.Partial("_CholesterolPartial")</div>
                                <div class="tab-pane fade" id="BloodPressure" role="tabpanel" aria-labelledby="contact-tab">@Html.Partial("_BloodPressurePartial")</div>
                                <div class="tab-pane fade" id="Glucose" role="tabpanel" aria-labelledby="contact-tab">@Html.Partial("_GlucosePartial")</div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-12 Chart mr-0">
                    <div class="row title" onclick="ColapseTable('DivAntece','heightDivAntece')">
                        Antecedentes
                    </div>
                    <input id="heightDivAntece" type="hidden" value="">
                    <div id="DivAntece" style="overflow:hidden">
                        <div class="row info">
                            <div class="col-10 ">
                                Controles para el día de hoy:
                            </div>
                            <div class="col-2">
                                <span class="label label-success result">18</span>
                            </div>
                        </div>
                        <div class="row info ">
                            <div class="col-10">
                                Completar datos de empresa:
                            </div>
                            <div class="col-2">
                                <span class="label label-warning result">10</span>
                            </div>
                        </div>
                        <div class="row info">
                            <div class="col-10">
                                Empresas con  deudas:
                            </div>
                            <div class="col-2">
                                <span class="label label-warning result">02</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </section>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/JqueryFormValidate.js"></script>
<script src="~/Scripts/FormValidateSecurity.js"></script>

<script src="~/Scripts/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="~/Scripts/exporting.js"></script>
<script src="~/Scripts/offline-exporting.js"></script>
<link href="~/Content/css/highcharts.css" rel="stylesheet">

<link href="~/Content/Themes/FormValidatorTheme.css" rel="stylesheet" type="text/css" />

<script>
    $(document).ready(function () {
        LoadWeight();
        LoadCholesterol();
        LoadHaemoglobin();
        LoadBloodPressure();
        LoadGlucose();
        var inputs = document.getElementsByClassName('inputLabelFloat');
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].addEventListener('keyup', function () {
                if (this.value.length >= 1) {
                    this.nextElementSibling.classList.add('static');
                } else {
                    this.nextElementSibling.classList.remove('static');
                }
            });
        }
    })
    function TableActive() {
        var contIcon = $(".contIcon");         
            $(".tblcontrol").toggleClass("tableNoActive");
            $(".tblcontrol").toggleClass("tableActive");
            var height = $(".btnHeight").offset();
            console.log(height);
        if ($(window).width() > 1000) {
            $("html, body").animate({
                scrollTop: height.top,
            }, 1000);
        }
            
    }
    function NavTabActive() {
        $("ul li a").removeClass("active");
        $(this).toggleClass("active");
    }

</script>